*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-family: "Helvetica Neue", "Segoe UI", Tahoma, Arial, "Hiragino Sans GB", STHeiti, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}

html, body{
    width: 100%;
}

body{
    background-color: #F7F8FA;
}