<!-- 菜单 -->
<div class="row mb-10">
    <div class="col-lg-8">
      <div class="btn-group">
        <button type="button" class="btn btn-success" ng-click="newBook()">新增图书</button>
        <button type="button" class="btn btn-info">图书列表</button>
        <button ng-disabled="pms.ids.length!=1" type="button" class="btn btn-warning" ng-click="updateBook()">修改图书</button>
        <button ng-disabled="pms.ids.length==0" type="button" class="btn btn-danger" ng-click="delBook()">删除图书</button>
      </div>
    </div><!-- /.col-lg-6 -->
    <div class="col-lg-4">
      <div class="input-group">
        <input id="searchIpt" type="text" class="form-control" placeholder="请输入书名" ng-model='query'>
        <span class="input-group-btn">
          <button id="searchBtn" class="btn btn-info" type="button" ng-click="searchBook()">搜索</button>
        </span>
      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<!-- 菜单 -->
<br>
<table id="booksTable" class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th><input id="chkAll" type="checkbox"></th>
      <th>书名</th>
      <th>作者</th>
      <th>封面</th>
      <th>出版社</th>
      <th>定价</th>
      <th>出版日期</th>
      <th>类别</th>
      <th>上架/下架</th>
      <th>借出状态</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="book in bookList">
      <td><input type="checkbox" name="checkboxList" ng-click="onCheckboxClick($event)"></td>
      <td>{{book.name}}</td>
      <td>{{book.author}}</td>
      <td>{{book.bookPic}}</td>
      <td>{{book.publisher}}</td>
      <td>￥{{book.price}}</td>
      <td>{{book.p_date}}</td>
      <td>{{book.classify}}</td>
      <td>{{book.status}}</td>
      <td>{{book.b_status}}</td>
    </tr>
  </tbody>
</table>
<!-- 分页 -->
<!-- <div ng-include="'inc/paging.html'"></div> -->
<nav>
  <ul class="pagination pull-right">
    <li>
      <a ng-click="firstPage()" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li ng-class="{true: 'active'}[$index==page]" ng-click="clickPagingLi()" ng-repeat="tmpPage in pageArr"><a href="javascript:void(0)">{{tmpPage + 1}}</a></li>
    <!-- <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li> -->
    <li>
      <a ng-click="lastPage()" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
<!-- 分页 -->
<!-- 新增图书对话框 -->
<!-- <div ng-include="'inc/dialog.html'"></div> -->
<div id="bookDialog" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{bookDlgTitle}}</h4>
      </div>
      <div class="modal-body">
        <!-- 表单 -->
        <form id="booksForm" class="form-horizontal">
          <input type="hidden" id="bookId">
          <div class="form-group">
            <label class="col-sm-3 control-label">书名：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="name" placeholder="请输入书名" ng-model="book.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">作者：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="author" placeholder="请输入作者" ng-model="book.author">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">出版社：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="publisher" placeholder="请输入出版社" ng-model="book.publisher">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">定价：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="price" placeholder="请输入定价" ng-model="book.price">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">出版日期：</label>
            <div class="col-sm-7">
              <input type="text" class="form-control" id="p_date" placeholder="请输入出版日期" ng-model="book.p_date">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">类别：</label>
            <div class="col-sm-7">
              <select id="classify" class="form-control" ng-model="book.classify">
                <option value="0">请选择</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">上架/下架：</label>
            <div class="col-sm-7">
              <label class="radio-inline"><input type="radio" name="status" value="1" ng-model="book.status">上架</label>
              <label class="radio-inline"><input type="radio" name="status" value="0" ng-model="book.status">下架</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">借出状态：</label>
            <div class="col-sm-7">
              <label class="radio-inline"><input type="radio" name="b_status" value="0" ng-model="book.borrow_status">未借出</label>
              <label class="radio-inline"><input type="radio" name="b_status" value="1" ng-model="book.borrow_status">已借出</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">封面：</label>
            <div class="col-sm-7">
              <input type="file" file-model="pic"><input type="button" value="上传" ng-click="savePic()" ng-model="book.bookPic">
            </div>
          </div>
        </form>
        <!-- 表单 -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button id="saveBtn" type="button" class="btn btn-primary w-110" ng-show="!isUpdate" ng-click="saveBook()">确认并保存</button>
        <button type="button" class="btn btn-primary" ng-show="isUpdate" ng-click="doUpdateBook()">确认并修改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- 新增图书对话框 -->